/* Backend-Styles */
#content input.price{
	width: 50px;
}

#content input.mealinput{
	height: 50px;
}

#content td.mealdescription{
	vertical-align: top;
	padding-top: 1%;
	padding-left: 1%;
}

#content input#mensasubmit{
	padding: 3px 10px;
}

#content .error{
	border: 1px solid #ff0000;
	color: #ff0000;
}


/* Frontend-Styles */
#content table.meals,
#content table.meals th,
#content table.meals td{
	border-collapse: collapse;
	border: 1px solid #cccccc;
}

#content table.meals th,
#content table.meals td{
	text-align: left;
	padding: 1%;
}