/* Backend-Styles */
#content input.price{
	width: 50px;
}

#content input.mealinput{
	height: 50px;
}

#content td.mealdescription{
	vertical-align: top;
	padding-top: 1%;
	padding-left: 1%;
}

#content input#mensasubmit{
	padding: 3px 10px;
}


/* Frontend-Styles */
#content table.meals,
#content table.meals th,
#content table.meals td,
#content table.abbreviations,
#content table.abbreviations th,
#content table.abbreviations td,
#content table.openHours,
#content table.openHours th,
#content table.openHours td{
	border-collapse: collapse;
	border: 1px solid #cccccc;
}

#content table.meals th,
#content table.meals td,
#content table.abbreviations th,
#content table.abbreviations td,
#content table.openHours th,
#content table.openHours td{
	text-align: left;
	width: auto;
	padding: 1% 3%;
}

#content table.openHours #canteen{
	vertical-align: top;
}