* {
	margin: 0;
	padding: 0;	
}


#insertUpdateStudycourse div.focused {
	background: #dedede;
}

#insertUpdateStudycourse label{
	width: 200px;
	display: block;
	float: left;
}

#insertUpdateStudycourse .button {
	border: 1px solid #d1ccc1;
	background: #f7f5f0;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f5f0), to(#dddddd));
	background: -webkit-linear-gradient(top, #f7f5f0, #dddddd);
	background: -moz-linear-gradient(top, #f7f5f0, #dddddd);
	background: -ms-linear-gradient(top, #f7f5f0, #dddddd);
	background: -o-linear-gradient(top, #f7f5f0, #dddddd);
	padding: 4px 13px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #322929;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	vertical-align: middle;
   }
#insertUpdateStudycourse  .button:hover {
	background: #fbf9f5;
	border-color: #d9d4ca;
	color: #433939;
   }
#insertUpdateStudycourse .button:active {
	-moz-box-shadow:	inset 0 0 4px #8d8d8d;
	-webkit-box-shadow:	inset 0 0 4px #8d8d8d;
	box-shadow:	inset 0 0 4px #8d8d8d;
	border-color: #878581;
	font-weight: normal;
	background: #dbd9d5;
	color: #000000;
   }

#insertUpdateStudycourse .error{
	color: red;
}

#showStudycourses_table tr:hover   {
	background-color: lightgreen; 
}

body {
	background: #f7f5f0;
	font-family: Verdana, Geneva, sans-serif;
	color: #322929;
	font-size: 12px;
}

#header,
#footer {
	width: 100%;
	height: 80px;
	background: #ff0000;
}

#headline,
#wrapper {
	width: 900px;
	margin: 0 auto 0 100px;
}

#wrapper {
	padding: 30px 0 30px 0;
}

#headline {
	height: 80px;
	background: url(../img/logo-cms.png) no-repeat 0px 20px;
}

#headline h1 {
	color: #f7f5f0;
	font-size: 30px;
	font-weight: normal;
	padding: 33px 0 0 270px;
}

#nav {
	width: 270px;
	float: left;
}

#nav h3 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
}

#nav ul {
	margin: 0 10px 0 15px;
}

#nav ul li {
	margin-bottom: 10px;
}

#nav ul li a {
	color: #322929;
	text-decoration: none;
}

#nav ul li a:hover {
	text-decoration: underline;
	color: #ff0000;
}

#nav ul li a.active {
	color: #ff0000;
	font-weight: bold;
}

#content {
	width: 620px;
	float: right;
}

#content h2 {
	font-weight: bold;
	color: #ff0000;
	font-size: 20px;
	margin-bottom: 20px;
}

#content table {
	border-top: 1px solid #d1ccc1;
	border-left: 1px solid #d1ccc1;
	margin-bottom: 20px;
}

#content table tr th,
#content table tr td {
	border-right: 1px solid #d1ccc1;
	border-bottom: 1px solid #d1ccc1;
	text-align:left;
	padding: 2px;
}

#content table tr th {
	background-color: #e6e2d8;
}

#content a.button {
	color: #ff0000;
	border: 2px solid #ff0000; 
	padding: 2px;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 11px;
}

#content a.button:hover {
	color: #f7f5f0;
	background-color: #ff0000; 
}

#content #mensaform textarea{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.clear {
	clear: both;
}